.swatchContainer {
	width: 100%;
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 20px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.optCircle {
	width: 8px !important;
	height: 8px;
	border-radius: 10px;
	margin: 0 2px;
	position: relative;
	z-index: 100;
}

.optCircle.darker:before {
	width: 10px;
	height: 10px;
	content: '';
	position: absolute;
	border: 1px solid lightgrey;
	border-radius: 10px;
	z-index: 99;
	top: -2px;
	left: -2px;
}

.optCircle.optBlack {
	background: black;
}
.optCircle.optRed {
	background: #dc2f2f;	
}
.optCircle.optBlue {
	background: #4f41ad;	
}
.optCircle.optBrown {
	background: #9a7041;	
}
.optCircle.optGrey {
	background: #989898;	
}
.optCircle.optMulti {
	background: black;	
}
.optCircle.optNeutral {
	background: #e0d1a3;	
}
.optCircle.optOrange {
	background: #f38306;	
}
.optCircle.optSilver {
	background: #dedede;	
}
.optCircle.optWhite {
	background: #ffffff;
	border: grey;
}

@media (max-width: 768px) {

    .optCircle {
        width: 12px !important;
        height: 12px;
        border-radius: 12px;
        margin: 0 2px;
        position: relative;
        z-index: 100;
    }
    
    .optCircle.darker:before {
        width: 14px;
        height: 14px;
        content: '';
        position: absolute;
        border: 1px solid lightgrey;
        border-radius: 14px;
        z-index: 99;
        top: -2px;
        left: -2px;
    }


}