/***** Overview Module *****/
.opt3-v1.menu-open {
    overflow-x: hidden;
}
.opt3-v1 .wrapper {
    position: relative;
}
.opt3-v1 .main .nav-container {
    display: none;
}
.opt3-v1 #sidebar-nav {
    position: absolute;
    left: -280px;
    top: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    z-index: 1000;
}
.opt3-v1 #sidebar-nav .menu-level1 {
    display: none;
}
.opt3-v1 #sidebar-nav .menu-level2 {
    display: none;
    margin: -10px 0 5px 0;
}
.opt3-v1 #search,
.opt3-v1 #search_mini_form .suggested-word {
    top: 0px !important;
}
.opt3-v1 #sidebar-nav .sidebar-nav-menu {
    clear: both;
}
.opt3-v1 #sli_autocomplete {
    -webkit-transition: left 0.2s;
    transition: left 0.2s
}
.opt3-v1 #sli_autocomplete.optSlideout {
    left: 100% !important;
}
.opt3-v1 .header-container.section .header .normal-header .top-nav-links .form-search button {
    margin-top: 0px;
}
.opt3-v1 #sidebar-nav #nav > li a {
    padding-left: 20px;
    padding: 12px 0 12px 20px;
}
.opt3-v1 #sidebar-nav li a {
    display: block;
    font-family: "$Knockout50A", "Knockout 50 A", "Knockout 31 B", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    color: #676768;
    text-decoration: none;
    position: relative;
}
.opt3-v1 #sidebar-nav li.level0 {
    background: #333333
}
.opt3-v1 #sidebar-nav li.level0 a {
    color: #fff;
}
.opt3-v1 #nav .level1:last-child .menu-level2-inner {
    padding-bottom: 15px;
}
.opt3-v1 #nav > li > a:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    right: 20px;
    top: 19px;
    background-color: #676768;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.opt3-v1 #nav > li > a:before {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    right: 20px;
    top: 24px;
    background-color: #676768;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.opt3-v1 #nav > li.level0 > a:after {
    background-color: #f3792d;
}
.opt3-v1 #nav > li.level0 > a:before {
    background-color: #f3792d;
}
.opt3-v1 #nav li.dropdown > a:after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    position: absolute;
    right: 16px;
    top: 22px;
    background-color: #f3792d;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}
.opt3-v1 #nav li.dropdown > a:before {
    content: "";
    display: block;
    width: 2px;
    height: 12px;
    position: absolute;
    right: 21px;
    top: 17px;
    background-color: #f3792d;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}
.opt3-v1 #nav li.dropdown.open > a:before {
    display: none;
}
.opt3-v1 #nav li.dropdown.open > a {
    color: #f3792d;
}
.opt3-v1 #sidebar-nav li.level2 a {
    /*font-size:16px; height:22px; line-height:22px;*/
    padding-left: 30px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.opt3-v1 #nav .menu-level1-inner {
    background-color: #484848;
}
.opt3-v1 #nav .menu-level1-inner li.dropdown > a:before,
.opt3-v1 #nav .menu-level1-inner li.dropdown > a:after {
    background-color: #fff;
}
.opt3-v1 .sidebar-logo {
    float: left;
    margin-top: 18px;
    margin-left: 36px;
}
.opt3-v1 .sidebar-logo img {
    max-width: 135px;
    display: block;
}
.opt3-v1 .menu-button {
    display: block;
    float: left;
    width: 22px;
    height: 18px;
    line-height: 24px;
    position: relative;
    text-decoration: none;
    position: relative;
    z-index: 150;
}
.opt3-v1 .menu-button:hover {
    color: #1a1a1a;
}
.opt3-v1 .menu-button span.lines {
    width: 22px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 150;
    display: block;
}
.opt3-v1 .menu-button span.lines span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #f3792d;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.opt3-v1 .menu-button span.lines span:nth-child(1) {
    top: 0px;
}
.opt3-v1 .menu-button span.lines span:nth-child(2),
.opt3-v1 .menu-button span:nth-child(3) {
    top: 7px;
}
.opt3-v1 .menu-button span.lines span:nth-child(4) {
    top: 14px;
}
.opt3-v1 #sidebar-nav .menu-button {
    margin: 20px 0 26px 20px;
}
.opt3-v1 .header-container.section .header .normal-header .header-mobile-links.mobile {
    width: 104px;
}
.opt3-v1 .header-container.section .header .normal-header .logo-container .logo {
    width: 135px;
    float: right;
}
.opt3-v1 .header-container.section .header .normal-header .logo-container {
    width: 65%;
}
.opt3-v1 .header-container.section .header .normal-header .logo-container .menu-button {
    margin-top: 12px;
}
.opt3-v1.cms-home .wrapper .page .main {
    margin-top: 40px;
}
body.menu-open-done:before,
body.menu-open:before {
    content: " ";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: none;
}
.menu-button:after {
    content: "MENU";
    color: #f3792d;
    font-family: "$Knockout50A", "Knockout 50 A", "Knockout 31 B", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-left: -3px;
}
.opt3-v1 .menu-button span.lines {
    position: relative;
    display: block;
    height: 18px;
}
.opt3-v1 .menu-button span.lines span {
    border-radius: 5px;
}
.opt3-v1 #sidebar-nav {
    width: 260px;
}
.opt3-v1.menu-open .wrapper:after {
    position: fixed;
    top: 30px;
    right: 15px;
    content: " ";
    z-index: 1000;
    width: 30px;
    height: 5px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    pointer-events: none;
}
.opt3-v1.menu-open .wrapper:before {
    position: fixed;
    top: 30px;
    right: 15px;
    content: " ";
    z-index: 1000;
    width: 30px;
    height: 5px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
}

@media (max-width: 479px) and (min-width: 321px){
    .header-container.section .header .normal-header .header-mobile-links.mobile div.mob-cart {
        float: right;
    }
}