.swatchContainer {
	width: 100%;
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 20px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.foundColor .sli_conditional a {
	display:none;	
}

.optCircle {
	width: 12px !important;
	height: 12px;
	border-radius: 14px;
	margin: 0 4px;
	position: relative;
	z-index: 100;
	background-color:grey;
}

.optCircle.darker:before {
	width: 18px;
	height: 18px;
	content: '';
	position: absolute;
	border: 2px solid lightgrey;
	border-radius: 18px;
	z-index: 99;
	top: -5px;
	left: -5px;
}

