.opt_cvp_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 100%;
	background-color: #EFEFEF;
	min-height: 38px;
	padding: 10px 0;
	border-bottom: 2px solid #f57923;
}

.opt_item {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 40px;
}

.optp, .optImage {
	width: initial;
	height: initial;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 10px;
}


.opt_cvp_container img {
  width: 32px;
}

.opt_cvp_container p {
	padding: 0;
	color: #f47820;
	font-size: 14px;
	margin: 0;
	font-weight: bold;
	line-height: 16px;
}

@media (max-width: 675px) {
	.opt_cvp_container {
		padding: 10px 5px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.optp p {
		font-size: 14px;	
	}
	.opt_item {
		margin: 0 auto;	
	}
}	

@media (max-width: 420px) {
	.optp p {
		font-size: 12px;	
	}
	.optImage {
		margin-right: 5px;	
	}
	.opt_cvp_container img {
  		width: 30px;
	}
}