<div class="opt_cvp_container">
    <div class="opt_item">
        <img src="//placehold.it/35x35">
        <p>Made For Nature</p>
    </div>
    <div class="opt_item">
            <img src="//placehold.it/35x35">
            <p>Guaranteed Comfort</p>
    </div>
    <div class="opt_item">
            <img src="//placehold.it/35x35">
            <p></p>
    </div>
</div>