

<div class="opt-accordion opt-mobile">
    <div class="opt-ac" data-value="DESCRIPTION">
        <div class="opt-ac-select">
            <span>DESCRIPTION</span>
        </div>
        <div class="opt-ac-content"></div>
    </div>
    <div class="opt-ac" data-value="TECHNOLOGY">
        <div class="opt-ac-select">
            <span>TECHNOLOGY</span>
        </div>
        <div class="opt-ac-content"></div>
    </div>
    <div class="opt-ac" data-value="DELIVERY">
        <div class="opt-ac-select">
            <span>DELIVERY</span>
        </div>
        <div class="opt-ac-content">
            <div class="std">
                <p>
                    <strong>STANDARD DELIVERY TIMES</strong>
                </p>
                <p>Merrell Australia aims to deliver your order within 2-5 business days almost anywhere in Australia
                    <strong>*</strong>. Merrell Australia delivers products Australia wide using Australia Post.</p>
                <p>Delivery times are estimated between 2-5 days from the date of dispatch, depending on your location:
                    <br> 1-2 business days - NSW / ACT
                    <br> 2-3 business days - VIC / QLD
                    <br> 4-5 business days - SA / TAS
                    <br> 7-10 business days - WA / NT
                    <br>
                    <strong>*</strong>Please allow additional 1-2 business days on top of the above allocated times for regional
                    areas.
                </p>
                <p>
                    <strong style="font-size: 12px;">EXPRESS DELIVERY TIMES</strong>
                </p>
                <p>
                    <a title="Australia Post Website" href="https://auspost.com.au/parcels-mail/calculate-postage-delivery-times/#/" target="_blank">Check via Australia Post</a> for expected delivery time according to your location. Orders are being
                    shipped via Moorebank&nbsp;
                    <span>NSW, 2170.</span>
                </p>
                <p>
            </div>
        </div>
    </div>
    <div class="opt-ac" data-value="RETURNS">
        <div class="opt-ac-select">
            <span>RETURNS</span>
        </div>
        <div class="opt-ac-content">
            <strong>WHAT IS YOUR RETURN POLICY?</strong>
            </p>
            <p>We’re not happy until you’re 100% satisfied with the fit of your new shoes or items. So if they’re anything short
                of perfect, simply contact our online customer service team.</p>
            <p>Merrell has a 30 day Australia-wide free shipping returns policy for all online purchases, provided the returns
                are unworn, in the condition you received them, and in the original packaging.</p>
            <p>• You can return your purchase up to 30 days from date of dispatch
                <br>• Products must be unworn, in the condition that you received them and in the original box and/or packaging
                with a return reference number
                <br>• Australia-wide return shipping is absolutely free</p>
            <p>
        </div>
    </div>
    <div class="opt-ac" data-value="REVIEWS">
        <div class="opt-ac-select">
            <span>REVIEWS</span>
        </div>
        <div class="opt-ac-content"></div>
    </div>
</div>

<div class="opt-accordion opt-mobile"> <div class="opt-ac" data-value="DESCRIPTION"> <div class="opt-ac-select"> <span>DESCRIPTION</span> </div><div class="opt-ac-content"></div></div><div class="opt-ac" data-value="TECHNOLOGY"> <div class="opt-ac-select"> <span>TECHNOLOGY</span> </div><div class="opt-ac-content"></div></div><div class="opt-ac" data-value="DELIVERY"> <div class="opt-ac-select"> <span>DELIVERY</span> </div><div class="opt-ac-content"> <div class="std"> <p> <strong>STANDARD DELIVERY TIMES</strong> </p><p>Merrell Australia aims to deliver your order within 2-5 business days almost anywhere in Australia <strong>*</strong>. Merrell Australia delivers products Australia wide using Australia Post.</p><p>Delivery times are estimated between 2-5 days from the date of dispatch, depending on your location: <br>1-2 business days - NSW / ACT <br>2-3 business days - VIC / QLD <br>4-5 business days - SA / TAS <br>7-10 business days - WA / NT <br><strong>*</strong>Please allow additional 1-2 business days on top of the above allocated times for regional areas. </p><p> <strong style="font-size: 12px;">EXPRESS DELIVERY TIMES</strong> </p><p> <a title="Australia Post Website" href="https://auspost.com.au/parcels-mail/calculate-postage-delivery-times/#/" target="_blank">Check via Australia Post</a> for expected delivery time according to your location. Orders are being shipped via Moorebank&nbsp; <span>NSW, 2170.</span> </p><p> </div></div></div><div class="opt-ac" data-value="RETURNS"> <div class="opt-ac-select"> <span>RETURNS</span> </div><div class="opt-ac-content"> <strong>WHAT IS YOUR RETURN POLICY?</strong> </p><p>We’re not happy until you’re 100% satisfied with the fit of your new shoes or items. So if they’re anything short of perfect, simply contact our online customer service team.</p><p>Merrell has a 30 day Australia-wide free shipping returns policy for all online purchases, provided the returns are unworn, in the condition you received them, and in the original packaging.</p><p>• You can return your purchase up to 30 days from date of dispatch <br>• Products must be unworn, in the condition that you received them and in the original box and/or packaging with a return reference number <br>• Australia-wide return shipping is absolutely free</p><p> </div></div><div class="opt-ac" data-value="REVIEWS"> <div class="opt-ac-select"> <span>REVIEWS</span> </div><div class="opt-ac-content"></div></div></div>


<div class="opt-menu opt-desktop">
    <div class="opt-menu-header">
        <div class="opt-m" data-value="DESCRIPTION">
            <div class="opt-menu-select">
                <span>DESCRIPTION</span>
            </div>
        </div>
        <div class="opt-m" data-value="TECHNOLOGY">
            <div class="opt-menu-select">
                <span>TECHNOLOGY</span>
            </div>
        </div>
        <div class="opt-m" data-value="DELIVERY">
            <div class="opt-menu-select">
                <span>DELIVERY</span>
            </div>
        </div>
        <div class="opt-m" data-value="RETURNS">
            <div class="opt-menu-select">
                <span>RETURNS</span>
            </div>
        </div>
        <div class="opt-m" data-value="REVIEWS">
            <div class="opt-menu-select">
                <span>REVIEWS</span>
            </div>
        </div>
    </div>
    <div class="opt-menu-container">
        <div class="opt-menu-content" data-value="DESCRIPTION"></div>
        <div class="opt-menu-content" data-value="TECHNOLOGY"></div>
        <div class="opt-menu-content" data-value="DELIVERY">
            <div class="std">
                <p>
                    <strong>STANDARD DELIVERY TIMES</strong>
                </p>
                <p>Merrell Australia aims to deliver your order within 2-5 business days almost anywhere in Australia
                    <strong>*</strong>. Merrell Australia delivers products Australia wide using Australia Post.</p>
                <p>Delivery times are estimated between 2-5 days from the date of dispatch, depending on your location:
                    <br> 1-2 business days - NSW / ACT
                    <br> 2-3 business days - VIC / QLD
                    <br> 4-5 business days - SA / TAS
                    <br> 7-10 business days - WA / NT
                    <br>
                    <strong>*</strong>Please allow additional 1-2 business days on top of the above allocated times for regional
                    areas.
                </p>
                <p>
                    <strong style="font-size: 12px;">EXPRESS DELIVERY TIMES</strong>
                </p>
                <p>
                    <a title="Australia Post Website" href="https://auspost.com.au/parcels-mail/calculate-postage-delivery-times/#/" target="_blank">Check via Australia Post</a> for expected delivery time according to your location. Orders are being
                    shipped via Moorebank&nbsp;
                    <span>NSW, 2170.</span>
                </p>
                <p>
            </div>
        </div>
        <div class="opt-menu-content" data-value="RETURNS">
            <strong>WHAT IS YOUR RETURN POLICY?</strong>
            </p>
            <p>We’re not happy until you’re 100% satisfied with the fit of your new shoes or items. So if they’re anything short
                of perfect, simply contact our online customer service team.</p>
            <p>Merrell has a 30 day Australia-wide free shipping returns policy for all online purchases, provided the returns
                are unworn, in the condition you received them, and in the original packaging.</p>
            <p>• You can return your purchase up to 30 days from date of dispatch
                <br>• Products must be unworn, in the condition that you received them and in the original box and/or packaging
                with a return reference number
                <br>• Australia-wide return shipping is absolutely free</p>
            <p>
        </div>
        <div class="opt-menu-content" data-value="REVIEWS"></div>
    </div>
</div>

<div class="opt-menu opt-desktop"> <div class="opt-menu-header"> <div class="opt-m" data-value="DESCRIPTION"> <div class="opt-menu-select"> <span>DESCRIPTION</span> </div></div><div class="opt-m" data-value="TECHNOLOGY"> <div class="opt-menu-select"> <span>TECHNOLOGY</span> </div></div><div class="opt-m" data-value="DELIVERY"> <div class="opt-menu-select"> <span>DELIVERY</span> </div></div><div class="opt-m" data-value="RETURNS"> <div class="opt-menu-select"> <span>RETURNS</span> </div></div><div class="opt-m" data-value="REVIEWS"> <div class="opt-menu-select"> <span>REVIEWS</span> </div></div></div><div class="opt-menu-container"> <div class="opt-menu-content" data-value="DESCRIPTION"></div><div class="opt-menu-content" data-value="TECHNOLOGY"></div><div class="opt-menu-content" data-value="DELIVERY"> <div class="std"> <p> <strong>STANDARD DELIVERY TIMES</strong> </p><p>Merrell Australia aims to deliver your order within 2-5 business days almost anywhere in Australia <strong>*</strong>. Merrell Australia delivers products Australia wide using Australia Post.</p><p>Delivery times are estimated between 2-5 days from the date of dispatch, depending on your location: <br>1-2 business days - NSW / ACT <br>2-3 business days - VIC / QLD <br>4-5 business days - SA / TAS <br>7-10 business days - WA / NT <br><strong>*</strong>Please allow additional 1-2 business days on top of the above allocated times for regional areas. </p><p> <strong style="font-size: 12px;">EXPRESS DELIVERY TIMES</strong> </p><p> <a title="Australia Post Website" href="https://auspost.com.au/parcels-mail/calculate-postage-delivery-times/#/" target="_blank">Check via Australia Post</a> for expected delivery time according to your location. Orders are being shipped via Moorebank&nbsp; <span>NSW, 2170.</span> </p><p> </div></div><div class="opt-menu-content" data-value="RETURNS"> <strong>WHAT IS YOUR RETURN POLICY?</strong> </p><p>We’re not happy until you’re 100% satisfied with the fit of your new shoes or items. So if they’re anything short of perfect, simply contact our online customer service team.</p><p>Merrell has a 30 day Australia-wide free shipping returns policy for all online purchases, provided the returns are unworn, in the condition you received them, and in the original packaging.</p><p>• You can return your purchase up to 30 days from date of dispatch <br>• Products must be unworn, in the condition that you received them and in the original box and/or packaging with a return reference number <br>• Australia-wide return shipping is absolutely free</p><p> </div><div class="opt-menu-content" data-value="REVIEWS"></div></div></div>