.optMobile {
    display: none;
}

.optMainBannerCont {
    min-height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  	max-width: 1440px;	
    margin: auto;
}
.optLeft,
.optRight {
    position: relative;
    overflow: hidden;
  
}
.optLeft {
    width: 55%;
  	background-position: 70%;
}
.optRight {
    width: 45%;
  background-repeat: no-repeat;
    background-size: cover;
  background-position: right;
}
.optWhite {
    position: absolute;
    left: -60%;
    bottom: 20%;
    background: rgba(255, 255, 255, .6);
    width: 100%;
    text-align: right;
    height: 107px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 18px 16px 27px 0;
}
.optWhite span {
    color: #000000;
	font-family: "$Knockout47A","Knockout 47 A","Knockout 31 B",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
}

.optOrangeButton {
    position: absolute;
    background: #f47b20;
    color: white !important;
    text-decoration: none;
    margin: -15px 25px 0 15px;
    padding: 9px 30px;
    display: block;
    font-family: "$Knockout47A","Knockout 47 A","Knockout 31 B",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 26px;
    text-transform: none;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

a.optOrangeButton:hover, .optTile a.optOrangeButton:hover, .optMobileTiles .optTileMCont .optOrangeButton:hover  {
 	color: #f47b20 !important;
    background: white;
    text-decoration: none;
}

.optRight .optOrangeButton {
    left: 18.5%;
    bottom: 12%;
    
}

.optLeft .optOrangeButton {
    left: 26%;
    bottom: 12%;
}

.optTileContainer {
    max-width: 1170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    margin-top: 35px;
}

.optTile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
}

.optTitleContent {
    padding: 20px 30px 40px; 
}

.optTitleContent .optTitle {
    font-family: "$Knockout47A","Knockout 47 A","Knockout 31 B",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
}

.optTitleContent .optDesc {
    font-family: "Knockout 47 A","Knockout 31 B",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    color: #b9b9b9;
    letter-spacing: 0.5px;
    padding-bottom: 0;
}

.optTile a.optOrangeButton {
    bottom: -21px;
    right: 0;
    color: white;
    text-decoration: none;
}

.optMobileTiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 1070px) {
    .optTileContainer.optDesktop .optImage img {
        width: 300px;
    }
}

@media (max-width: 912px) {
    
    .homepage-block {
        min-height: 450px;
    }
    
    .optTileContainer.optDesktop .optImage img {
        width: 250px;
    }
    
    .optTitleContent .optTitle { 
    	font-size: 40px;
        padding-bottom: 10px;
    }
    
    .optTitleContent {
     	padding: 15px 20px 30px   
    }
}

@media (max-width: 767px) {
    .optTitleContent .optDesc {
     	font-size: 11px;   
    }
    .optTileContainer.optDesktop .optImage img {
        width: 200px;
    }
    
    .optTitleContent .optTitle { 
    	font-size: 40px;
        padding-bottom: 10px;
    }
    
    .optTitleContent {
     	padding: 15px 20px 30px;
    }	   
}

@media (max-width: 640px) {
    .optDesktop {
        display: none;
    }
    .optMobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;
    }

    .optMobileTiles {
        padding: 20px 10px;
    }
    
    .optMobileTiles .optTileM img {
        width: 100%;
        vertical-align: middle;
    }
    
    .optMobileTiles .optTileM {
        margin-bottom: 8px;
    }
    
    .optMobileTiles .optTileMCont {
        position: relative;
    }
    
    .optMobileTiles .optTileMCont .optTitleContent {
     	position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px 0 20px 20px;
    }
 	
    .optMobileTiles > div:nth-child(even) .optTitleContent p {
     	color:white;
    }
    
    .optMobileTiles .optTileMCont .optOrangeButton {	
        position: static;
		width: 130px;
        color: white;
        margin: 0;
        font-size: 24px;
    }
}