<div class="optMainBannerCont">
    <div class="optLeft">
        <div class="optWhite">
            <span>Women's</span>
        </div>
        <a class="optOrangeButton">
            SHOP NOW
        </a>
    </div>
    <div class="optLeft">
        <div class="optWhite">
            <span>Women's</span>
        </div>
        <a class="optOrangeButton">
            SHOP NOW
        </a>
    </div>
</div>

<div class="optTileContainer">
    <div class="optTile">
        <div class="optImage">
            <img src="//placehold.it/">
        </div>
        <div class="optTitleContent">
            <p class="optTitle">New In</p>
            <p class="optDesc">Shop our new styles</p>
        </div>
        <a class="optOrangeButton" href="merrellaustralia.com.au">
            SHOP NOW
        </a>
    </div>
</div>