
.opt-desktop {
	display:block;
	position:relative;
	
	background: url('//cdn.optimizely.com/img/6092490016/bdc9236a7da34c9f885a9e79ce9b6fa3.png') no-repeat;	
	background-color: #f2f2f2;
	background-position:top right;
}

.opt-tri-background {
	width:100%;
	height:100%;
	position:absolute;
	z-index: 1;
	background: url('//cdn.optimizely.com/img/6092490016/d5ca440c13a143fc8be30e54dc60cf61.png') no-repeat;	
	background-position:bottom left;
}

.opt-content {
	position:relative;
	z-index: 2;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	padding:10px 20px 0px 20px;
}

.opt-promo-text {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	padding-top:20px;
	margin-left:30px;
	font-family: "Knockout50A",Arial,Helvetica,sans-serif;
}
.opt-price {
    color: #5f6062;
	font-size: 18px;
}

.opt-promo-links{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	padding-top: 10px;
}

.opt-bottom {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	
}

.opt-top {
	font-family: "Knockout50A",Arial,Helvetica,sans-serif;
	font-size: 22px;
}

 .opt-bottom > a {
	width: 115px;	
	text-align:center;
	height: 60px;
	line-height:60px;
	font-family: "Knockout47A",Arial,Helvetica,sans-serif;
	font-size: 28px;
	cursor:pointer;
	text-decoration:none;
	 background-color:#f47b20;
	color:#fff;
	 margin-right:2px;
}

.single-post #page-wrap .detailpage-wrap .content-area .pagetitle h2 {
    font-family: "Knockout47A", Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #3c3532;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}

 .opt-bottom > a:hover{
	color:#f47b20;
	background-color:#fff;
}

.opt-bottom .opt-womens{
	
}

.opt-promo-text .opt-title {
	font-size: 24px;
	margin-bottom:5px;
}	
	
.opt-left {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;	
}
.opt-mobile {
	display:none;	
}

@media(max-width: 1024px){
	.opt-content {
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		-ms-flex-pack:center;
		justify-content:center;
		padding-bottom: 20px;
	}
}

@media(max-width: 768px){
	.opt-desktop {
		display:none;	
	}
	.opt-mobile {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		background: url(//cdn.optimizely.com/img/6092490016/48f7fba6d9bf4408993a0a9cee912f09.png) no-repeat ;
		-webkit-background-size: auto;
		background-size: auto;
		background-position: center -10px;
		border: 2px solid #e2e0dd;
		padding-bottom:40px;
		max-width:320px;
		margin: 0 auto;
	}
	
	.opt-promo-text {
		margin-left:0px;	
	}
}