
.opt-desktop {
	display:block;
	position:relative;
	
	background: url('//cdn.optimizely.com/img/6092490016/c33a18dce8d440f584216de71488ff6f.png') no-repeat;	
	background-color: #333333;
	background-position:top right;
	-webkit-background-size: 500px 174px;
	background-size: 500px 174px;
}



.opt-content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 20px 19px;
}

.opt-promo-text {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	font-family: "Knockout50A",Arial,Helvetica,sans-serif;
	color: white;
}
.opt-price {
	font-size: 18px;
}

.opt-right {
	margin-left: 20px;	
}

.opt-promo-links{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	padding-top: 10px;
}

.opt-promo-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.opt-bottom {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	
}

.opt-top {
	font-family: "Knockout50A",Arial,Helvetica,sans-serif;
	font-size: 22px;
}

 .opt-bottom > a {
	width: 115px;	
	text-align:center;
	height: 46px;
	line-height:46px;
	font-family: "Knockout47A",Arial,Helvetica,sans-serif;
	font-size: 28px;
	cursor:pointer;
	text-decoration:none;
	background-color: white;
	color:#f47b20;
	margin-right:2px;
}

.single-post #page-wrap .detailpage-wrap .content-area .pagetitle h2 {
    font-family: "Knockout47A", Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #3c3532;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
}

 .opt-bottom > a:hover{
	color:#fff;
	background-color:#f47b20;
}

.opt-bottom .opt-womens{
	
}

.opt-promo-text .opt-title {
	font-size: 24px;
	margin-bottom:5px;
}	
	
.opt-left {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;	
}

@media(max-width: 1024px){
	.opt-content {
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		-ms-flex-pack:center;
		justify-content:center;
		padding: 5px;
	}
}

@media(max-width: 455px){
	.opt-promo-img img {
		width: 129px;	
	}
}

@media(max-width: 420px){
	.opt-right {
		margin-left: 10px;	
		text-align: center;
	}
	.opt-desktop {
		display:block;
		position:relative;
		background: none;
		background-color: none;
		background-position: 0;
		-webkit-background-size: 0;
		background-size: 0;
	}
	.opt-tri-background {
		width: 100%;
		height: 100%;
		display: block;
		background: url('//cdn.optimizely.com/img/6092490016/c33a18dce8d440f584216de71488ff6f.png') no-repeat;	
		background-color: #333333;
		background-position: top right;
		-webkit-background-size: 500px 174px;
		background-size: 500px 174px;
		position: absolute;
		-webkit-filter: brightness(0.6);
		filter: brightness(0.6);	
	}
	 .opt-bottom > a {
		width: 91px;	
	}
}

@media(max-width: 350px){	
	.opt-tri-background {
		-webkit-background-size: 470px 200px;
		background-size: 470px 200px;	
	}
	
	.opt-promo-img img {
		width: 112px;	
	}
	.opt-bottom > a {
		width: 76px;	
	}
}
