<div class="opt_StepContainer">
    <div class="opt_Step">
        <p>1.</p>
        <p>Billing Info</p>
    </div>
    <div class="opt_Step">
        <p>2.</p>
        <p>Shipping Address</p>
    </div>
    <div class="opt_Step">
        <p>3.</p>
        <p>Shipping Options</p>
    </div>
    <div class="opt_Step">
        <p>4.</p>
        <p>Payment Info</p>
    </div>
</div>