.opc-wrapper .page-title {
    display: none;
}

#checkoutSteps .section:not(.active) {
    display: none !important;
}

.opt_LoginSelected .opc-progress-container#col-right-opcheckout {
    display: none;
}

.opt_LoginSelected #checkoutSteps {
    width: 100%;
}

.checkout-onepage-index #checkoutSteps li#opc-login.active h2 {
    text-transform: initial !important;
}

#opc-login {
    margin: auto !important;
    background: #F0ECE6;
    padding: 20px 20px 20px 40px;
    max-width: 700px;
    float: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

#opc-login #checkout-step-login .col2-set {
    padding: 0 !important;
    padding-top: 30px !important;
}

#opc-login #checkout-step-login .button span {
    font-size: 18px !important;
    font-weight: 100 !important;
}

#checkoutSteps .section {
    border: none !important;
}

.opt_Heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px !important; 
    width: initial !important;
}

.opt_Heading h2 {
    margin: 0 !important;
    color: black;
    font-size: 24px;
}

.opt_StepContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.opt_StepContainer .opt_Step {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #C3C3C3;
}

.opt_StepContainer .opt_Step p:first-child {
    margin-right: 10px;
    margin-left: 5px;
}

.opt_StepContainer .opt_Step p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    color: #C3C3C3;
    font-weight: bold;
    font-size: 16px;
}

.opt_Billing .opt_Step_Billing {
    border-color: #F47B20;
    cursor: pointer;
}
.opt_Billing .opt_Step_Billing p {
    color: #F47B20;
}

.opt_Shipping .opt_Step_Shipping {
    border-color: #F47B20;
}
.opt_Shipping .opt_Step_Billing, .opt_Shipping .opt_Step_Shipping {
    cursor: pointer;
}
.opt_Shipping .opt_Step_Shipping p {
    color: #F47B20;
}

.opt_ShippingMethod .opt_Step_ShippingMethod {
    border-color: #F47B20;
}
.opt_ShippingMethod .opt_Step_Billing, .opt_ShippingMethod .opt_Step_Shipping, .opt_ShippingMethod .opt_Step_ShippingMethod {
    cursor: pointer;
}
.opt_ShippingMethod .opt_Step_ShippingMethod p {
    color: #F47B20;
}

.opt_Payment .opt_Step_Payment {
    border-color: #F47B20;
}
.opt_Payment .opt_Step_Billing, .opt_Payment .opt_Step_Shipping, .opt_Payment .opt_Step_ShippingMethod, .opt_Payment .opt_Step_Payment {
    cursor: pointer;
}
.opt_Payment .opt_Step_Payment p {
    color: #F47B20;
}

.opt_ShippingMethod .cart-summary, .opt_Payment .cart-summary {
    margin-bottom: 0 !important;
}

.cart-summary-table > tbody tr:nth-child(1) th {
    font-weight: bold !important;
    font-family: "bentonsans",Arial,Helvetica,sans-serif !important;
}

/*.cart-summary-table .price-row:nth-child(1) {
    display: none;
}*/
.cart-summary-table .price-row:nth-child(2) {   
    border-top: solid 1px #d7d7d7;
    padding-top: 20px;
}

.cart-summary-table .price-row:nth-child(3) {   
    border: none !important;
    padding: 0 !important;
}

.cart-summary-table .price-row:nth-child(4) {   
    border: none;
    padding-top: 0 !important;
}

.cart-summary-table .price-row:nth-child(4) label {   
    text-transform: initial !important;
}

.cart-summary-table .price-row-gst {   
    padding-bottom: 20px;
    float: left;
    width: 100%;
    border-bottom: solid 1px #d7d7d7;
}

/*.price-row-remove {
    border-top: none !important;
    margin-bottom: 20px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}*/

.cart-summary-table .price-row:nth-child(2) {
    border: none !important;
    padding: 0 !important;
}

.opt_Addresses {
    font-family: "bentonsansregular",Arial,Helvetica,sans-serif;
    font-size: 15px;
    color: #3c3532;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    font-weight: 400;
    background: #f2efe9;
    padding: 0px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.opt_Addresses > div {
    margin-right: 40px 
}

.opt_Addresses .opt_Title {
    font-weight: bold !important;
    font-family: "bentonsans",Arial,Helvetica,sans-serif !important;
    font-size: 15px;
    color: #3c3532;
    text-transform: uppercase;
}

.opt_Addresses td {
    padding-bottom: 0 !important;
}

.opt_Addresses p {
    padding: 0;
}

.price-row:nth-child(1) > label {
    display: none;
}
.price-row:nth-child(1) > div {
    display: none;
}

a[title="Edit Order"] {
    display: none;
}

.opt_TotalPrice {
    display: none;
}

@media (max-width: 1110px) and (min-width: 640px) {
    .opt_Addresses {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .opt_Addresses > div:nth-child(1)
    {
        margin-bottom: 10px;        
    }
}

@media (max-width: 640px) {
    .breadcrumbs {
        display: none;
    }
    .opt_TotalPrice {
        display: block;
    }
    .col-main {
        padding-top: 0 !important;   
    }
    .header-container.section .header {
        min-height: initial !important;
        height: initial !important;
    }
    .opt_StepContainer {
        background: #edeced;
    }
    .opt_Step {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .opc-progress-container {
        position: absolute;
        margin-top: -20px;
        padding: 0 !important;
        padding-top: 10px !important;
        background: #f2efe9
    }
    .checkout-onepage-index .opc-progress-container .cart-summary {
        border: 2px solid black;
        border-bottom: 0;
        margin: 0 5%;;
        width: 90%;
        padding-bottom: 0;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-right: 30px;
        position: relative;
    }
    .checkout-onepage-index .opc-progress-container .cart-summary:after {
        content: "V";
        position: absolute;
        right: 10px;
        top: 12px;
        width: 10px;
        height: 10px;
        -webkit-transform: scaleX(1.5);
            -ms-transform: scaleX(1.5);
                transform: scaleX(1.5);
        font-size: 14px;
        font-family: "Arial";
    }
    .checkout-onepage-index .opc-progress-container.opt_ShowSummary .cart-summary:after {
        content: "V";
        position: absolute;
        right: 10px;
        top: 20px;
        width: 10px;
        height: 10px;
        -webkit-transform: scaleX(1.5)rotate(180deg);
            -ms-transform: scaleX(1.5)rotate(180deg);
                transform: scaleX(1.5)rotate(180deg);
        font-size: 14px;
    }
    .checkout-onepage-index .opc-progress-container .cart-summary .sub-title {
        font-size: 15px;
        font-weight: 100;
        font-family: "BentonSans",Arial,Helvetica,sans-serif;
        padding-bottom: 0;    
        margin-bottom: 10px;
        text-transform: initial;
        border-bottom: none;
        width: 60%;
        float: left;
    }
    .checkout-onepage-index .opc-progress-container .cart-summary .cart-summary-table tr td.product {
        width: 100%;
    }
    .cart-summary-table {
        display: none;
        float: right;
    }
    #checkoutSteps .section {
        margin-top: 50px !important;
    }
    .opt_ShowSummary .opt_TotalPrice {
        display: block;
    }
    .opt_TotalPrice {
        float: right;
    }
    .opt_ShowSummary .cart-summary-table {
        display: block;
    }
    .cart-summary-table > tbody > tr:nth-child(1) {
        display: none;
    }
    .cart-summary-table .product {
        width: 100%;
    }
    .cart-summary-table .subtotal {
        display: none;
    }
    .cart-summary-table .qty {
        display: none;
    }
    .cart-summary-table .product-name {
        font-family: "BentonSans-Medium",Arial,Helvetica,sans-serif !important;
    }
    .opt_BillingCont {
        padding-bottom: 20px !important;
        padding-top: 0 !important;
    }
    .opt_Addresses {
        padding-top: 20px;
        width: 90%;
        margin: 5%;
        margin-top: 0;
        border: 2px solid black;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .opt_ShowSummary .cart-summary {
        padding-bottom: 20px !important;
    }
    .opc-progress-container:not(.opt_ShowSummary) .cart-summary {
        border-bottom: 2px solid black !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      margin-bottom: 10px !important;
    }
    .opt_Billing .opc-progress-container .cart-summary, .opt_Shipping .opc-progress-container .cart-summary {
        border-bottom: 2px solid black !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .opt_BillingCont {
        display: none;
    }
    .opt_BillingCont.opt_ShowSummary {
        display: block;   
    }

}

@media (max-width: 500px) {
     .opt_StepContainer .opt_Step p {
        font-size: 12px;
         line-height: initial;
    }
    .opt_Heading h2 {
        font-size: 14px;
    }
}

@media (max-width: 445px) {
    .opt_Addresses {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .opt_Addresses > div:nth-child(1)
    {
        margin-bottom: 10px;        
    }
  #opc-login {
   	padding: 20px 20px 20px 20px; 
  }
    
}









